* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Encode Sans', sans-serif !important;
}

body {
  background-color: #046cab;
  background-image: linear-gradient(156deg, #046cab 57%, #5c9a93 100%);
  min-height: 100vh;
}

/* Buttons */

.btnOrangeMini {
  width:100%;
  background: #E67E22;
  color: white;
  padding: 10px !important;
  font-size: 17px; 
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  
  transition: 0.4s;
}

.btnOrangeMini:hover {
  background: #bd6b24;
  border: 1px solid white;
  
}

.BtnSubmit {
  width:20%;
  background: #E67E22;
  color: white;
  padding: 8px !important;
  font-size: 15px; 
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  
  transition: 0.4s;
}
.BtnSubmit:disabled{
  background-color: gray;
}

.BtnSubmit:hover {
  background: #bd6b24;
  border: 1px solid white;
}

/* Modal */
.modal{
  width: 32%;
  display: flex;
  justify-content: center;
}

.modalBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalHeader {
  padding: 15px;
  width: 100%;
  background: #E67E22;
  color: white;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
}

.modalClose {
  cursor: pointer;
}

.modalBody {
  width: 100%;
  margin-top: -1px;
  padding: 30px 20px;
  color: white;
  background: rgb(26, 40, 44);
  background: linear-gradient(0deg, rgba(26, 40, 44, 1) 0%, rgba(29, 58, 69, 1) 35%);
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.modalBody input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  color: black;
}
.modalBody textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  color: black;
}

.modalBody select {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

@media(max-width: 600px) {
  .BtnSubmit {
    width: 100%;
  }
  .modal{
    width: 100%;
  }
}